<html>
<head>
  <title>Reservations</title>
</head>
<body>
  <div class= "Locations">
  <p>Locations</br>
<strong>Address:</strong> 
<%= Faker::Address.street_address %>;
<%= Faker::Address.city %>;
<%= Faker::Address.state_abbr %>;
<%= Faker::Address.zip %>;</br>
<b>Address:</b>
<%= Faker::Address.street_address %>;
<%= Faker::Address.city %>;
<%= Faker::Address.state_abbr %>;
<%= Faker::Address.zip %>;</br>
<b>Address:</b>
<%= Faker::Address.street_address %>;
<%= Faker::Address.city %>;
<%= Faker::Address.state_abbr %>;
<%= Faker::Address.zip %>;</br>
<b>Address:</b>
<%= Faker::Address.street_address %>;
<%= Faker::Address.city %>;
<%= Faker::Address.state_abbr %>;
<%= Faker::Address.zip %>;</br>
<b>Address:</b>
<%= Faker::Address.street_address %>;
<%= Faker::Address.city %>;
<%= Faker::Address.state_abbr %>;
<%= Faker::Address.zip %>;</br>
</p></div>






