Status: #{@transmit.workflow_state}
- if @transmit.workflow_state == "submitted" 
  = link_to "reviewed", 'javascript:void(0);', class: "put_status btn btn-xs btn-primary", workflow_state: "reviewed"
  = link_to "completed", 'javascript:void(0);', class: "put_status btn btn-xs btn-primary", workflow_state: "completed"
  = link_to "unsatisfactory", 'javascript:void(0);', class: "put_status btn btn-xs btn-primary", workflow_state: "unsatisfactory"
- else @transmit.workflow_state == "reviewed"
  = link_to "completed", 'javascript:void(0);', class: "put_status btn btn-xs btn-primary", workflow_state: "completed"
  = link_to "unsatisfactory", 'javascript:void(0);', class: "put_status btn btn-xs btn-primary", workflow_state: "unsatisfactory"