%h1 Unit Profile
= @unit.name
= @unit.date
%br
- @unit.projects.each do |project|
  = link_to "#{project.name}", location_unit_project_path(@location, @unit, project)
  -if can? :update, @project
    = link_to "Edit", edit_location_unit_project_path(@location, @unit, project), class: 'btn btn-xs btn-warning'
  -if can? :destroy, @project
    = link_to "Delete", location_unit_project_path(@location, @unit, project), method: :delete, class: 'btn btn-xs btn-danger'
  %br
%br  
-if can? :create, Project
  = link_to "Add Project", new_location_unit_project_path(@location, @unit), class: 'btn btn-info btn-block'
%br
%ul.breadcrumb
  %li
    =link_to "Homework Tracker Home", root_path
  %li
    %a{:href => "/locations"} Location Portal
  %li
    = link_to 'Location Profile', location_path(@location)
  %li
    = link_to "Unit Portal", location_units_path(@location)
  %li.active Unit Profile