= form_for @hospital do |f|
  = if f.object.errors.messages.length > 0
    <!-- Render the errors to the user -->
    = f.object.errors.messages.inspect  
    %br
      -f.object.errors.messages.each do |key, value| 
        -value.each do |message| 
          = key = message 
          %br
  %h4= f.label :name
  %p= f.text_field :name, class: 'form-control focusedInput', placeholder: 'Add Name Here...'
  %br
  %h4= f.label :description
  %p= f.text_area :description, class: 'form-control ', placeholder: 'Description...', rows: '3'
  %br
  %p=f.submit "Create Hospital", class: 'btn btn-success btn-block'