%h1 Hospital Profile
%p Name: #{@hospital.name}
%p Description: #{@hospital.description}
%br
%p
- @hospital.doctors.each do |doctor|
  - if doctor.name 
    %p= doctor.name
    = link_to "| Delete Doctor |", delete_doctor_hospital_path(@hospital, doctor_id: doctor.id), method: :delete
  %br
= link_to "| Add Patient |", new_hospital_patient_path(@hospital)
%br
= form_for @doctor, url: create_doctor_hospital_path(@hospital) do |f|
  %p= f.label :name
  %p= f.text_field :name
  %p= f.submit
%br
-@hospital.patients.each do |patient| 
  %br
  = link_to "#{patient.last_name}, #{patient.first_name}", hospital_patient_path(@hospital, patient)
  = link_to "| Edit Patient |", edit_hospital_patient_path(@hospital, patient)
  = link_to "| Delete Patient |", hospital_patient_path(@hospital, patient), method: :delete
%br
%h3 #{link_to "| Hospital Hub ", hospitals_path(@hosptial)}#{link_to "| Tracker Home |", root_path}


      

