!!!
%html
  %head
    %title Day12Hw
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %h1 Patient Tracker
    %p.notice= notice
    %p.alert= alert
    = yield
    %footer Powered by Michael W. Dion
