%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true
  %div
    = f.label :last_name
    %br/
    = f.text_field :last_name, autofocus: true
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %div
    = f.label :password
    - if @validatable
      %i
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %div
    - Unit.all.each do |unit|
      = check_box_tag 'user[unit_ids][]', unit.id, @user.units.include?(unit), {id: "unit_id_#{unit.id}"}
      = label_tag "unit_id_#{unit.id}", "#{unit.name} | #{unit.location.name}"
  %br
    - Location.all.each do |location|
      = check_box_tag 'location[location_ids][]', location.id, false, {id: "location_id_#{location.id}", class: "location_checkbox", location_id: location.id}
      = label_tag "location_id_#{location.id}", location.location_name
      %br
    - Unit.all.each do |unit|
      = check_box_tag 'user[unit_ids][]', unit.id, false, {id: "unit_id_#{unit.id}"}
      = label_tag "unit_id_#{unit.id}", unit.name
   
  %div
    = f.label :role, "Campus Director"
    %br/
    = f.radio_button :role, "Campus Director"
  %div
    = f.label :role, "Instructor/TA"
    %br/
    = f.radio_button :role, "Instructor/TA"
  %div
    = f.label :role, "Student"
    %br/
    = f.radio_button :role, "Student"
  %div= f.submit "Sign up"
= render "devise/shared/links"
