%p Status: #{@patient.workflow_state}
- if @patient.workflow_state == "waiting"
  = link_to "assessed", 'javascript:void(0);', class: "put_status btn btn-xs btn-primary", workflow_state: "assessed"
  = link_to "xrayed", 'javascript:void(0);', class: "put_status btn btn-xs btn-info", workflow_state: "xrayed"
  = link_to "operated", 'javascript:void(0);', class: "put_status btn btn-xs btn-danger", workflow_state: "operated"
- elsif @patient.workflow_state == "assessed"
  = link_to "xrayed", 'javascript:void(0);', class: "put_status btn btn-xs btn-info", workflow_state: "xrayed"
  = link_to "operated", 'javascript:void(0);', class: "put_status btn btn-xs btn-danger", workflow_state: "operated"
  = link_to "paid", 'javascript:void(0);', class: "put_status btn btn-xs btn-warning", workflow_state: "paid"
- elsif @patient.workflow_state == "xrayed"
  = link_to "paid", 'javascript:void(0);', class: "put_status btn btn-xs btn-warning", workflow_state: "paid"
- elsif @patient.workflow_state == "operated"
  = link_to "paid", 'javascript:void(0);', class: "put_status btn btn-xs btn-warning", workflow_state: "paid"
- elsif @patient.workflow_state == "paid"
  = link_to "discharged", 'javascript:void(0);', class: "put_status btn btn-xs btn-success", workflow_state: "discharged"
- else @patient.workflow_state == "discharged"
  = link_to "| Add Final Notes |", edit_hospital_patient_path(@hospital, @patient), class: "put_status btn btn-xs btn-success"